:root {
  --primary-violet: #632949;
  --primary-dark: #000;
  --primary-grey: #dcdcdc;
  --secondary-violet: #8b426b;
  --white: #fff;
  --primary-pink: #cdadca;
  --color-red-font: #8c3c4f;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.wiw-title-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ababab;
  cursor: pointer;
  color: var(--color-red-font);
  align-items: center;
}

.wiw-group-title {
  font-weight: 300;
  color: var(--color-red-font);
  padding: 0.35em 27px 0.45em 0;
  font-size: 23px;
  display: block;
}

.wiw-group-description {
  color: black;
}

.wiw-profile-picture {
  display: block;
  width: 70%;
  height: 100%;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.wiw-group-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.2s ease-out;
}

.wiw-group-content-wrapper.is-open {
  grid-template-rows: 1fr;
}

.wiw-group-content {
  /* For the transition to work  */
  overflow: hidden;
}

.wiw-people-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-left: -1.5%;
  margin-right: -1.5%;
}

.wiw-person-container {
  position: relative;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.wiw-person-attrs-container {
  display: flex;
  align-items: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.wiw-person-attrs {
  color: #969696;
}

.wiw-profile-text {
  text-align: center;
}

@media (min-width: 660px) {
  .wiw-person-container {
    width: 47%;
    height: 100%;
  }
}

.wiw-person-image {
  padding-top: 20%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.2em;
  height: 100%;
  width: 100%;
}
.wiw-profile-picture {
  height: 500px;
  width: 350px;
  object-fit: cover;
}
