apiVersion: batch/v1
kind: CronJob
metadata:
  name: refresh-who-is-who-data
spec:
  schedule: "0 0 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: refresh-data
            image: busybox:1.28
            imagePullPolicy: IfNotPresent
            command:
            - /bin/sh
            - -c
            - wget http://backend:3000/fetch-data;
          restartPolicy: OnFailure
