:root {
  --primary-violet: #632949;
  --primary-dark: #000;
  --primary-grey: #c4c4c4;
  --secondary-violet: #8b426b;
  --white: #fff;
  --primary-pink: #cdadca;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wiw-group-data {
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-left: 3rem;
  margin-right: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-violet);
  font-weight: bold;
}

.text-custom-dark {
  color: var(--primary-dark);
}

.profile-picture {
  aspect-ratio: 1 / 1.2;
  border-radius: 10%;
  height: 100%;
  object-fit: cover;
}

.grid-container {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 50% 50%;
}

.card {
  padding: 1rem;
  height: 110px;
  align-items: center;
  border: 0px;
  border-radius: 10px;
  text-align: left;
}

.first-column {
  grid-column: 1;
}

.second-column {
  grid-column: 2;
}

.group-card {
  display: flex;
  color: var(--white);
  background-color: var(--secondary-violet);
}

.person-card {
  display: flex;
  background-color: var(--primary-grey);
}

.card-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  word-break: break-word;
}

.bg-violet {
  background-color: var(--primary-violet);
  color: var(--white);
}
