<div class="grid-container">
{% for sgroup in subgroups %}
  <a class="card group-card {{ loop.cycle("first-column", "second-column") }}" 
  {% if flat %}
    href="{{ link_prefix }}{{ sgroup.id }}.html"
  {% else %}
    href="{{ link_prefix }}{{ locale }}/{{ sgroup.id }}"
  {% endif %}
  >{{ sgroup.name[locale] | e}}</a>
{% endfor %}
</div>
