<section class="wiw-group-data">
    {% if render_group_head %}
        <span class="wiw-title-container"
              onclick="toggleGroup('wiw-group-content-wrapper-{{ group_id }}')">
            <div id="wiw-{{ group_id }}-title" class="wiw-group-title">{{ name[locale] }}</div>
            <div id="arrow-down-{{ group_id }}">{% include "svg/arrow_down.svg" %}</div>
        </span>
    {% endif %}
    <div id="wiw-group-content-wrapper-{{ group_id }}"
         class="wiw-group-content-wrapper">
        <div class="wiw-group-content">
            {% if render_group_head %}
                <div id="wiw-{{ group_id }}-description" class="wiw-group-description">{{ description[locale] }}</div>
            {% endif %}
            {% if people %}
                {% include "_people.html.jinja" %}
            {% endif %}
        </div>
    </div>
</section>
