<!DOCTYPE html>
<html>
    <head>
        <title>Who-Is-Who</title>
        {% if stylesheet_content %}<style>{{ stylesheet_content }}</style>{% endif %}
        {% if stylesheet_link %}<link rel="stylesheet" type="text/css" href="{stylesheet_link}">{% endif %}
    </head>
    <body>
